DATABASE_URL='postgresql://postgres:postgres@localhost:5432/csquizz-v2'
DATABASE_URL_LOCAL='postgresql://postgres:postgres@localhost:5432/csquizz-v2'

CACHE_URL=''

JWT_SECRET='i-guess-it-right'

GOOGLE_CLIENT_ID=''

GOOGLE_CLIENT_SECRET=''